<div class="main-container">
  <app-header></app-header>

  <div class="container">
    <div class="row">
      <div class="col-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<!-- <div>
  
</div> -->

<!-- <div class="col-2">
  <app-todo-desc></app-todo-desc>
</div>

<div class="col-3">
 <app-todos-done></app-todos-done> -->
<!-- <app-todo-details [todos]="doneCollection"></app-todo-details>
</div>

<input type="button" value="add" (click)="addElement()" /> -->
