.todoDone{
    text-decoration: line-through;
}

.basicStyle{
    border: solid;
    background-color: black;
    color: wheat;
}

.deadlineTime{
    background-color: red;
    color: black;
}

.doneStyle{
    background-color: orange;
    color: black;
}

.no-item-found-img{
    height: 450px;
}

